{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {% if request.LANGUAGE_CODE == 'hy' %}
  {{post.title_hy}}
  {% elif request.LANGUAGE_CODE == 'ru' %}
  {{post.title_ru}}
  {% else %}
  {{post.title_en}}
  {% endif %}
{% endblock %}

{% block content %}
  <article>
    <h1>
      {% if request.LANGUAGE_CODE == 'hy' %}
        {{post.title_hy}}
      {% elif request.LANGUAGE_CODE == 'ru' %}
        {{post.title_ru}}
      {% else %}
        {{post.title_en}}
      {% endif %}
    </h1>
    {% if post.image %}
      <div>
        <img 
          src="{{post.image.url}}" 
          alt="
            {% if request.LANGUAGE_CODE == 'hy' %}
              {{post.title_hy}}
            {% elif request.LANGUAGE_CODE == 'ru' %}
              {{post.title_ru}}
            {% else %}
              {{post.title_en}}
            {% endif %}
          ">
      </div>
    {% else %}
      <div>
        <img src="{% static 'img/no-image.jpg' %}" alt="No image">
      </div>
    {% endif %}
    <p>
      {% if request.LANGUAGE_CODE == 'hy' %}
        {{post.content_hy}}
      {% elif request.LANGUAGE_CODE == 'ru' %}
        {{post.content_ru}}
      {% else %}
        {{post.content_en}}
      {% endif %}
    </p>
    <p>Author: {{post.author}}</p>
    <p>Created at: {{post.created_at}}</p>
    <p>Updated at: {{post.updated_at}}</p>
    <p>Category: <a href="{{post.category.get_absolute_url}}">{{post.category}}</a></p>
    <p>Tags:
      {% for tag in post.tags.all %}
        <a href="{% url 'tags' tag.tag_slug %}">{{tag}}</a>
      {% endfor %}
    </p>
  </article>
{% endblock %}